@tailwind base;
@tailwind components;
@tailwind utilities;


:root   {
    --blue-1: #20004d;
    --blue-2: #400099;
    --yellow: #F4781A;
}

@keyframes spin {
    0%  {
        transform: rotate(0deg);
    }
    100%    { 
        transform: rotate(360deg); 
    }
}

.animate-spin-custom {
    animation: spin 2.5s linear infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-10%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce-custom {
    animation: bounce 1s infinite;
}